@import '_base.scss';

#page{
  // max-width: 1200px;
  // border: 1px solid $grey;
  margin: 0 auto;
  height: 100vh;
}

.header{
  padding: 20px;
  overflow: auto;
  border-bottom: 4px solid $grey;
  position: fixed;
  width: 100%;
  box-sizing: border-box;

  h1.site-title{
    float: left;
    margin: 0;
    cursor: pointer;
    color: $blue;
  }

  a.login-toggle, a.logout{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .welcome{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $dgrey;
    font-weight: 900;
    right: 80px;
  }
}

.tick-list::-webkit-scrollbar {
    width: 0.5em;
}

.tick-list::-webkit-scrollbar-track {
    -webkit-box-shadow: 0; //  inset 0 0 6px rgba(0,0,0,0.3);
}

.tick-list::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: 5px;
}

.main-layout{
  // padding: 0 10px;
  padding-top: 81px;
  box-sizing: border-box;
  height: 100%;

  .tick-list{
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    // max-width: 1000px;
    margin: auto;

    &::-webkist-scrollbar {
      width: 1em;
    }

    .tick{
      padding: 20px 10px;
      overflow: auto;
      border-bottom: 1px solid $grey;
      transition: background-color 1s ease;

      &.clickHold{
        background-color: $dgrey;
        transition: background-color 2s ease;
      }

      &:last-child{
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 80px;
      }

      .message{
        margin-top: 0;
      }

      .user{
        float: left;
      }

      .date{
        float: right;
      }
    }
  }
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;

  .footer-action-list{
    list-style: none;

    .footer-action-item{
      float: right;
      margin-left: 10px;

      &:last-child{
        margin-left: 0;
      }
    }
  }
}

a.circle-button{
  background-color: $blue;
  color: #FFF;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;

  i{
    width: 21px;
    font-size: 20px;
  }
}

.login-modal {
  position: fixed;
  border: solid 4px $dblue;
  top: 20%;
  left: 50%;
  padding: 20px;
  width: 50%;
  transform: translate3d(25%, -80%, 0) scale(0);
  background: #FFF;
  opacity: 0;
  @include trans();
  @include card(4);

  &.open {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  h3 {
    margin-top: 0;
  }

  .close-login {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    font-size: 2em;
    padding: 10px 15px;
    opacity: 0.2;
  }
}

.at-input {
    margin-bottom: 10px;
}
